
<h1>Coffee Shop </h1>
<h2>Menu</h2>

<p class="boxhead"><%= link_to 'Coffee Beverages', controller: 'coffee_drinks' %></p>

<p class="boxhead"><%= link_to 'Cold Beverages', controller: 'cold_drinks' %></p>

<p class="boxhead"><%= link_to 'Snacks', controller: 'snacks' %></p>

<p class="boxhead"><%= link_to 'Coffee Beans', controller: 'coffee_beans' %></p>

<p class="boxhead"><%= link_to 'Magazines', controller: 'magazines' %></p>

<p class="boxhead"><%= link_to 'Other Items', controller: 'other_items' %></p>

